fastapi
uvicorn[standard]
nltk
mysql-connector-python
owlready2
scikit-learn
rapidfuzz
pandas
numpy
sentence-transformers
torch
transformers
langchain-community
langchain-huggingface
python-dotenv
openai
faiss-cpu
pydantic
